<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
  <appender name="main" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="/var/log/application/application.log"/>
    <param name="Append" value="true"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d: %-5p: %-17X{callID}: %-17c{1}: %m%n"/>
    </layout>
  </appender>
  
     <appender name="history" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="/var/log/application/history.log"/>
    <param name="Append" value="true"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d: %-17X{callID}:: %m%n"/>
    </layout>
  </appender>
  
  
<!-- 
   <appender name="main" class="org.apache.log4j.ConsoleAppender">
   <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d: %-5p: %-17c{1}: %m%n"/>
   </layout>
	</appender>
-->

  <category name="CallHistory">
       <priority value="INFO"/>
       <appender-ref ref="history"/>
        </category>


        <category name="com.mycompany.gvpdriver">
       <!--<priority value="DEBUG"/>-->
       <priority value="ALL"/>
       <appender-ref ref="main"/>
        </category>
        <category name="com.mycompany.evs">
       <!--<priority value="DEBUG"/>-->
       <priority value="ALL"/>
       <appender-ref ref="main"/>
        </category>
        <category name="com.mycompany.ecs">
       <!--<priority value="DEBUG"/>-->
       <priority value="ALL"/>
       <appender-ref ref="main"/>
        </category>
        <category name="com.mycompany.dao">
       <!--<priority value="DEBUG"/>-->
       <priority value="ALL"/>
       <appender-ref ref="main"/>
        </category>
        <category name="com.mycompany.application">
       <!--<priority value="DEBUG"/>-->
       <priority value="ALL"/>
       <appender-ref ref="main"/>
        </category>

	
	<root>
    	<priority value ="OFF" />
	</root>

</log4j:configuration>
